/* selector {
    properties : values;
} */

/* h1 {
    color: orange;
}
p {
    font-size: 30px;
} */

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    width: 900px;
    margin: auto;
    background-color: burlywood;
    padding: 15px;
}

.header h1{
    color: rgb(134, 80, 8);
    text-align: center;
}
.header img{
width: 150px;


}
.article h2{
    text-align: center;
}


.menu {
    width: 900px;
    margin: auto;
    background-color: orange;
    padding: 15px;
}

.article {
    width: 900px;
    margin: auto;
    background-color: lightgoldenrodyellow;
    padding: 15px;
}
.article img {
    width: 150px;
}
.footer {
    width: 900px;
    margin: auto;
    background-color: orange;
    padding: 15px;
}
